<template>
  <f7-page name="RadioShows">
    <img :src="radio().logo" id="logo" />
    <f7-block-title>{{ radio().name }}</f7-block-title>
    <f7-block-header>{{ radio().description }}</f7-block-header>

    <div v-if="loading()" strong class="text-align-center">
      <f7-preloader />
    </div>
    <f7-list v-else>
      <f7-list-item
        v-for="show in radio().shows"
        :key="show.name"
        :title="show.name"
        :link="`/radio/${encodeURIComponent(radioId)}/shows/${show.name}`"
        :footer="show.description"
      />
    </f7-list>
  </f7-page>
</template>

<script>
import { useRadioStore } from "../js/store";
import { storeToRefs } from "pinia";

export default {
  name: "radio-show",
  data() {
    return {
      isRadioReady: null,
      radioUrl: null,
      store: useRadioStore(),
      radio: () => {
        return this.store.radios[this.radioUrl] || {};
      },
      loading: () => {
        return this.isRadioReady === null || !this.isRadioReady(this.radioUrl);
      },
    };
  },
  props: { f7route: Object, f7router: Object },
  async mounted() {
    this.radioUrl = decodeURIComponent(this.f7route.params.radioUrl);

    const { isRadioReady } = storeToRefs(this.store);
    this.isRadioReady = isRadioReady;
  },
};
</script>
<style>
#logo {
  margin-left: 10px;
  max-width: 40px;
}
</style>
