<script setup>
import Player from "../components/Player.vue";
import routes from "../js/routes.js";
import { useRadioStore } from "../js/store";

// Framework7 Parameters
const f7params = {
  name: "plaid", // App name
  theme: "md", // Automatic theme detection
  view: {
    browserHistory: true,
    iosDynamicNavbar: true,
    xhrCache: false,
    masterDetailBreakpoint: 800,
    main: true,
  },

  // passRouteParamsToRequest: true,
  // App store
  store: useRadioStore(),

  // App routes
  routes,
};
</script>
<template>
  <f7-app v-bind="f7params">
    <!-- Top Navbar -->
    <f7-navbar back-link="Back" title="plaid" />

    <!-- Your main view, should have "view-main" class -->
    <f7-view main url="/" class="view-main main-view">
      <Player />
    </f7-view>
  </f7-app>
</template>
